<div class="root">
    <div class="login-area">
        <div class="login-square">
            <div class="mb-4">
                <h1 class="pb-5">Bienvenue</h1>
                <p class="">Vous devez être connecté pour utiliser l'application</p>
            </div>
            <p class="connection">Se connecter via :</p>
            <form class="btn-list">
                <button class="btn btn-primary btn-lg" (click)="signInClicked()">Google</button>
                <button class="btn btn-secondary btn-lg" disabled>À venir</button>
            </form>
        </div>
    </div>
</div>
