.root{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(31, 41, 55);
    border-radius: 5px;
    padding: 2vh 2vw;
    min-height: 12vh;
}

.root *{
    color: white;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold {
    font-weight: 500;
}

.title-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 66.6%;
}

.title-section *{
    padding: 0;
    margin: 0;
}

.btn-section{
    display: flex;
    gap: 2vw;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 33.3%;
}

.btn-quiz{
    border: none;
    color: rgb(31, 41, 55) !important;
    font-weight: 500;
    padding: 1.5vh 2vw;
}

.btn-primary{
    background-color: white;
}

.btn-danger{
    color: white !important;
}