<div class="root">
    <header class="quiz-head">
        <h2 class="title">Vos quiz</h2>
        <div class="btn-section">
            <button class="btn btn-primary" [routerLink]="['/my-quizzes/create']">Créer un quiz</button>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Rechercher par titre">
        </div>
    </header>
    
    <ul class="quiz-main">
        <li *ngFor="let quiz of quizzes">
            <my-quiz-item [quiz]="quiz" (deletePressed)="deleteQuiz($event)"></my-quiz-item>
        </li>
    </ul>
</div>