<div class="root">

    <header *ngIf="!testOver" class="quiz-head">
        <h2 class="title">{{quiz.name}}</h2>
        <h2 class="questions">{{currentQuestion}}/{{questions.count()}}</h2>
        <h2 class="informations"></h2>
    </header>

    <section class="quiz-play">
        <div *ngIf="!isPlaying" class="starting">
            <button *ngIf="(isLargeScreen$ | async)" class="btn btn-primary" (click)="startingQuiz()">Commencer le quiz !</button>
            <button *ngIf="!(isLargeScreen$ | async)" class="btn btn-primary" (click)="startingQuiz()">Commencer le quiz !</button>
        </div>

        <ul *ngIf="!testOver" class="question-list">
            <ng-container *ngFor="let question of questionsWithRandomAnswers; let i = index">
                <li *ngIf="currentQuestionIndex(i)">
                    <div class="question-title">
                        <h3>{{question.question}}</h3>
                    </div>

                    <div class="answers">
                        <ng-container *ngFor="let answer of question.answers">
                            <a class="answer"  [class.selected]="answer.selected" (click)="selectAnswer(answer, question)">
                                <p>{{answer.text}}</p>
                            </a>
                        </ng-container>
                    </div>

                    <div class="next-btn">
                        <button *ngIf="!lastQuestion && isAnswerSelected(question)" class="btn btn-primary" (click)="nextQuestion()">Question quivante</button>
                        <button *ngIf="lastQuestion  && isAnswerSelected(question)" class="btn btn-primary" (click)="endQuiz()">Terminer le Quiz</button>
                        <button *ngIf="!isAnswerSelected(question)" class="btn btn-primary" (click)="endQuiz()" disabled>Sélectionnez une réponse</button>
                    </div>
                </li>
            </ng-container>
        </ul>

        <div *ngIf="testOver">
            <quiz-result [questions]="questionsWithRandomAnswers" [quiz_id]="quiz.id" [isLargeScreen$]="isLargeScreen$"></quiz-result>
        </div>
    </section>
</div>
