.root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(31, 41, 55);
    border-radius: 5px;
    padding: 2vh 2vw;
    min-height: 12vh;
}

.root *{
    color: white;
}

.main{
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
    padding-bottom: 3vh;
}

.questions{
    margin: 0;
    flex-basis: 33.3%;
    text-align: center;
}

.author{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author *{
    margin: 0;
}

.bold {
    font-weight: 500;
}

.title-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 33.3%;
}

.title-section *{
    padding: 0;
    margin: 0;
}

.btn-section{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-basis: 33.3%;
}

.btn-primary{
    background-color: white;
    border: none;
    color: rgb(31, 41, 55) !important;
    font-weight: 500;
    padding: 1.5vh 2vw;
}