<div class="root">
    <div class="main">
        <div class="title-section">
            <h2>{{quiz.name}}</h2> 
        </div>
        <div class="category-area">
            <p class="category">{{quiz.category.name}}</p>
        </div>
        <div class="btn-section">
            <button class="btn btn-primary" [routerLink]="['/play/' + quiz.id]">Participer</button>
        </div>
    </div>
    <div class="author">
        <p class="footer-item item-left">Réalisé par <a class="authorName" (click)="authorClicked()">{{quiz.authorName}}</a></p>
        <p class="footer-item item-center">Meilleur score</p>
        <p class="footer-item item-right">Nombre de questions : {{nbOfQuestions}}</p>
    </div>
    <div class="score">{{displayScore()}}</div>
</div>