.root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding: 5vh 2vw;
    min-height: 12vh;
    box-shadow: 1px 1px 5px rgb(31, 41, 55, .25);
}

.root *{
    color: rgb(31, 41, 55);
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(31, 41, 55);
    padding-bottom: 3vh;
}

.questions{
    font-size: larger;
    margin: 0;
    text-align: right;
}

.author{
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author *{
    margin: 0;
}

.bold {
    font-weight: 500;
}

.category-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.category{
    margin: 0;
    font-size: large;
    font-weight: 500;
}

.title-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 33.3%;
}

.title-section *{
    padding: 0;
    margin: 0;
}

.btn-section{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-basis: 33.3%;
}

.btn-primary{
    background-color: rgb(31, 41, 55);
    border: none;
    color: white !important;
    font-weight: 500;
    padding: 1.5vh 2vw;
}