<div class="root">
    <header *ngIf="(isLargeScreen$ | async)" class="quiz-head">
        <h2>Tous nos quiz </h2>
        <a class="sorting" (click)="changeSorting()">
            <span *ngIf="sortByDateDesc" class="sort">
                Tri par date
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3" />
                </svg>
                  
            </span>
            <span *ngIf="!sortByDateDesc" class="sort">
                Tri par date
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
                </svg>
                  
            </span>
        </a>
        <div class="search-bar">
            <input type="text" placeholder="Rechercher par auteurs" [(ngModel)]="userSearch" (ngModelChange)="updateSearch()">
            <input type="text" placeholder="Rechercher par titre" [(ngModel)]="titleSearch" (ngModelChange)="updateSearch()">
        </div>
    </header>

    <header *ngIf="!(isLargeScreen$ | async)" class="quiz-head-mobile">
        <h2>Tous nos quiz</h2>
        <div class="search-bar-mobile">
            <input type="text" placeholder="Rechercher par auteurs" [(ngModel)]="userSearch" (ngModelChange)="updateSearch()">
            <input type="text" placeholder="Rechercher par titre" [(ngModel)]="titleSearch" (ngModelChange)="updateSearch()">
        </div>
    </header>
    
    <ul *ngIf="(isLargeScreen$ | async)" class="quiz-main">
        <li *ngFor="let quiz of filterdQuizzes">
            <quiz-item 
                [userId]="userId"
                [quiz]="quiz" 
                [questionsCount]="questionsCount" 
                [histories]="histories" 
                (onAuthorName)="authorClicked($event)">
            </quiz-item>
        </li>
    </ul>

    <ul *ngIf="!(isLargeScreen$ | async)" class="quiz-main">
        <li *ngFor="let quiz of filterdQuizzes">
            <quiz-item-mobile 
                [userId]="userId"
                [quiz]="quiz" 
                [questionsCount]="questionsCount" 
                [histories]="histories" 
                (onAuthorName)="authorClicked($event)">
            </quiz-item-mobile>
        </li>
    </ul>
    
</div>