<div class="root">
    <header class="quiz-head">
        <h2>Tous nos quiz</h2>
        <div class="search-bar">
            <input type="text" placeholder="rechercher par auteurs" [(ngModel)]="userSearch" (ngModelChange)="updateSearch()">
            <input type="text" placeholder="rechercher par titre" [(ngModel)]="titleSearch" (ngModelChange)="updateSearch()">
        </div>
    </header>
    
    <ul class="quiz-main">
        <li *ngFor="let quiz of filterdQuizzes">
            <quiz-item [quiz]="quiz" [questionsCount]="questionsCount"></quiz-item>
        </li>
    </ul>
    
</div>