.quiz-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.btn-section{
    display: flex;
    justify-content: flex-end;
    flex-basis: 33.3%;
}

.title{
    flex-basis: 66.6%;
}

.form-head{
    display: flex;
    gap: 2vw;
}

.form-main{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.form-group{
    font-weight: 500;
    display: flex;
    gap: 1vw;
    flex-basis: 50%;
}

.form-group label{
    flex-basis: 30%;
}

.form-group input, .form-group textarea, .form-group select{
    flex-basis: 70%;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px rgba(31, 41, 55, 0.25);
    padding-left: 1vw;
}

.form-group textarea{
    height: 10vh;
}

input, textarea, select{
    color: rgb(31, 41, 55);
}


.form-group select{
    height: 5vh;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px rgba(31, 41, 55, 0.25);
    padding: 0 1vw;
}

.form-title{
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-between;
}

.inputs-area {
    flex-basis: 70%;
}

.submit-btn{
    background-color: rgba(31, 41, 55);
    border: none;
    width: 20vw;
    height: 7vh;
    font-weight: 600;
}

.submit-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informations, .questions, .quiz-head{
    margin-bottom: 2vh;
    padding-bottom: 4vh;
    border-bottom: 1px solid rgba(31, 41, 55);
}

.error-message{
    margin-top: -1vh;
    color: red;
    font-weight: 600;
    text-align: end;
}

.category-error{
    display: flex;
    flex-direction: column;
}

.no-questions{
    text-align: center;
}

.add-question{
    display: flex;
    justify-content: center;
}

.svg-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgba(31, 41, 55);
    border-radius: 50%;
    cursor: pointer;
}

.svg{
    width: 25px;
    height: 25px;
    color: white;
}

.question-list{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 0;
}

.question-item{
    list-style: none;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(31, 41, 55, 0.25);
    border-radius: 5px;
    padding: 1rem;
}

.questions-form-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.questions-form-area textarea, .fake-answers textarea{
    border: 1px solid rgba(31, 41, 55, 0.25);
    height: 10vh;
}

.delete-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #dc3545;
    cursor: pointer;
}

.delete-btn:hover{
    box-shadow: inset 1px 1px 2px rgba(31, 41, 55, 0.1);
    background-color: #c93140;
}

.basis-1{
    flex-basis: 45%;
}

.basis-2{
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fake-answers{
    flex-direction: column;
}