<div class="root">
    <div class="title-section">
        <h2>{{quiz.name}}</h2> 
    </div>
    <div class="btn-section">
        <button class="btn btn-primary btn-quiz" [routerLink]="['/my-quizzes/edit/' + quiz.id]">Modifier</button>
        <button class="btn btn-danger btn-quiz" (click)="onDeletePressed()" [disabled]="isLoading">
            <span *ngIf="!isLoading">Supprimer</span>
            <span *ngIf="isLoading">
                <mini-loader></mini-loader>
            </span>
        </button>
    </div>
</div>